<?xml version="1.0"?>

<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find sokil_drone_description)/urdf/sokil_drone.urdf.xacro"/>
    <param name="use_gui" value="True"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
